# .editorconfig

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.kt]
# Kotlin 特定规则
ktlint_standard_no-wildcard-imports = error
ktlint_standard_import-ordering = error
ktlint_standard_max-line-length = error
ktlint_standard_filename = error
ktlint_standard_class-naming = error
ktlint_standard_function-naming = error
ktlint_standard_property-naming = error
ktlint_standard_package-name = error
ktlint_standard_no-empty-first-line-in-class-body = error
ktlint_standard_annotation-spacing = error
ktlint_standard_enum-entry-name-case = error
ktlint_standard_no-consecutive-comments = error
ktlint_standard_comment-wrapping = error
ktlint_standard_spaced-comment = error
ktlint_standard_no-blank-line-before-rbrace = error
ktlint_standard_no-multi-spaces = error
ktlint_standard_no-trailing-spaces = error
ktlint_standard_no-unused-imports = error
ktlint_standard_function-start-indent = error
ktlint_standard_indent = error
ktlint_standard_parameter-list-wrapping = error
ktlint_standard_argument-list-wrapping = error
ktlint_standard_chain-wrapping = error
ktlint_standard_op-spacing = error
ktlint_standard_curly-spacing = error
ktlint_standard_range-spacing = error
ktlint_standard_keyword-spacing = error

